<!DOCTYPE html>
<html>
<head>
  <title>TransitRubyExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'http://cdn.cognitect.com/transit/transit-0.8.837-min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
